#! /bin/bash
#===================================================================
# 	~/.xinitrc - X11's xinit sourced file (WM, graphical stuff etc).
# 	Go to https://wiki.archlinux.org/index.php/Xinit for more info.
#
## This file is a copy of .xinitrc because lightdm loads this one instead of .xinitrc
#===================================================================


# Start optimus prime offloading
# /usr/bin/prime-offload

# numlock on after boot
numlockx &

# keyboard layout for pl
setxkbmap $(cat .Xkbmap) &

# Start i3 session (needs to be last)
exec i3
